<!doctype html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Phoenix</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="/css/css2.css" rel="stylesheet">
    <link href="/css/css21.css" rel="stylesheet">
    <link href="/css/phoenix.min.css" rel="stylesheet" id="style-default">
    <link href="#" rel="stylesheet" id="user-style-default">
    <style>
      body {
        opacity: 0;
      }
    </style>
  </head>

  <body>
    <main class="main" id="top">
      <div class="container-fluid px-0">
        <nav th:replace="~{common/common :: #navbar_left}"></nav>
        <nav th:replace="~{common/common :: #navbar_top}"></nav>
        <div class="content pt-5">
          <h2 class="mb-2 lh-sm">文件上传</h2>
          <p class="text-700 lead mb-2"></p><a class="btn btn-link p-0" href="javascript:;"
                                               target="_blank"></a>
          <div class="mt-4">
            <div class="row g-4">
              <div class="col-12 col-xl-10 order-1 order-xl-0">
                <div class="card shadow-none border border-300 my-4" data-component-card="">
                  <div class="card-header p-4 border-bottom border-300 bg-soft">
                    <div class="row g-3 justify-content-between align-items-center">
                      <div class="col-12 col-md">
                        <h3 class="text-900 mb-0" data-anchor="">文件上传区域</h3>
                        <h5 style="color: red" th:text="${msg}"></h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="p-4 code-to-copy">
                      <div class="mb-3"><label class="form-label" for="customFileLg">请上传文件</label>
                          <form action="/upLoadFile" method="post" enctype="multipart/form-data">
                          <!--单文件上传-->
<!--                              <input class="form-control form-control-lg" id="customFileLg" name="file" type="file">-->
                          <!--多文件上传-->
                            <input class="form-control form-control-lg" id="customFileLg" name="file" type="file" multiple>
                              <button class="btn btn-primary" type="submit">上传</button>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="static/js/phoenix.js"></script>
  </body>

</html>